@use '../utils/mixins' as *;

.our-expertise {
  box-sizing: border-box;
  border-radius: 30px;
  background-color: #fff;

  &__title {
    grid-column: 1 / -1;

    padding-block: 72px 56px;

    font-family: Poppins, sans-serif;
    font-size: 44px;
    font-weight: 600;
    line-height: 52.8px;
    color: $title-color;
    text-align: center;

    @include on-small-desktop {
      grid-column: 4 / 10;
    }

    @include on-tablet {
      font-size: 52px;
      line-height: 78px;
    }
  }
}
