/* stylelint-disable */
.person {
  flex: 0 0 33.33%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding-inline: 32px;
  border-radius: 50%;
  background-color: $color-accent;
  transition: transform $transition-base;

  &__container {
    position: relative;
    width: 100%;
    max-width: 300px;
  }

  &__image-container {
    position: relative;
    width: 100%;
    height: 300px;
    margin: 0 auto;
  }

  &__image-bg {
    position: absolute;
    z-index: 1;
    display: block;
    width: 100%;
    height: 100%;
    background-color: $color-primary;
    border-radius: 50%;
    opacity: 0.1;
    transition: transform $transition-base;
    transform-origin: center;
  }

  &__image {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    transition: transform $transition-base;
  }

  &__content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 24px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
    background-repeat: no-repeat;
    background-position: bottom;
    margin: 0;
  }

  &__title {
    margin-bottom: 8px;
    color: $color-secondary;
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 0.5px;
  }

  &__position {
    margin-bottom: 16px;
    color: $color-secondary;
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.5px;
  }

  &:hover {
    transform: translateY(-10px);

    .person__image-bg {
      transform: scale(1.1);
    }

    .person__image {
      transform: scale(1.05);
    }
  }
}
/* stylelint-enable */
