.services {
  box-sizing: border-box;
  padding-top: 120px;

  @include on-tablet {
    padding-top: 148px;
  }

  @include page-grid;
  @include padding-inline;

  &__box {
    display: flex;
    grid-column: 1 / 3;
    flex-direction: column;
    justify-content: start;

    @include on-tablet {
      grid-column: 1 / 4;
    }

    @include on-small-desktop {
      grid-column: 1 / 5;
    }
  }

  &__title {
    margin-bottom: 24px;

    font-family: Poppins, sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 41.6px;
    color: $title-color;
    text-align: left;
    letter-spacing: 0.5px;

    &--small {
      margin-bottom: 16px;

      font-family: Poppins, sans-serif;
      font-size: 13px;
      font-weight: 700;
      line-height: 19.5px;
      color: $second-text-color;
      text-transform: uppercase;
      letter-spacing: 3px;
    }
  }

  &__text {
    margin-bottom: 48px;

    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: $main-text-color;
    text-align: left;
  }
}
