.testimonials {
  @include padding-inline;

  box-sizing: border-box;
  margin: 120px 0;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    box-sizing: border-box;
    margin: 0;
  }

  &__title {
    margin-bottom: 48px;

    font-family: Poppins, sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    color: $title-color;
    letter-spacing: 0;

    &--small {
      margin-bottom: 16px;

      font-family: Poppins, sans-serif;
      font-size: 13px;
      font-weight: 700;
      line-height: 19.5px;
      color: $second-text-color;
      text-align: left;
      text-transform: uppercase;
      letter-spacing: 3px;
    }
  }

  &__people {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;

    padding-top: 48px;

    @include on-small-desktop {
      flex-direction: row;
      gap: 20px;
    }

    @include on-desktop {
      gap: 30px;
    }
  }
}
