.vision {
  background-color: $header-footer-text-color;

  @include on-tablet {
    background-image: url(../images/Shapes.png);
    background-repeat: no-repeat;
    background-position: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    box-sizing: border-box;
    padding-block: 72px;

    @include on-tablet {
      padding-block: 198px;
    }
  }

  &__title {
    margin: 0 auto 24px;

    font-family: Poppins, sans-serif;
    font-size: 44px;
    font-weight: 600;
    line-height: 52.8px;
    color: $title-color;
    text-align: center;
  }

  &__text {
    max-width: 754px;
    margin-bottom: 56px;
    margin-inline: auto;

    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
    color: $main-text-color;
    text-align: center;

    @include on-tablet {
      margin-bottom: 64px;
    }
  }

  &__button {
    margin: 0 auto;
  }
}
