/* stylelint-disable */
@import 'utils';
@import 'fonts';
@import 'typography';
@import './blocks/header';
@import './blocks/top-bar';
@import './blocks/hero';
@import './blocks/about-us';
@import './blocks/expertise';
@import './blocks/vision';
@import './blocks/testimonials';
@import './blocks/contacts';
@import './blocks/footer';

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  background: $color-background;
  box-sizing: border-box;
}
/* stylelint-enable */
