$header-footer-text-color: #fff;
$header-footer-bg-color: #2c2c2c;
$main-text-color: #6c788b;
$second-text-color: #c0cdd7;
$title-color: #253757;
$button-color: #2060f6;
$number-bg-color: #e9effe;
$box-text-color: #334563;
$footer-hover-color: #144ed4;
$color-primary: #f1897b;
$color-secondary: #1c2a39;
$color-accent: #f2f2f2;
$color-white: #fff;
$color-text: #5c6a79;
$c-gray: #f2f2f2;
